@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --txt-color: #15143966;
    --head-txt-color: #1E0E62;
    --btn-color: #25DAC5;
    --sect2-bg-color: #2F1893;
}

body{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    background-color: #F9F9F9;
}

header{
    height: 700px;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-size: 24px;
    font-weight: 700;
    color: var(--head-txt-color);
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--txt-color);
    line-height: 28px;
    position: relative;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li a img{
    position: absolute;
    top: -13px;
}

a.btn{
    text-decoration: none;
    padding: 8px 13px;
    border-radius: 100px;
}

.btn-fill{
    background-color: var(--btn-color);
    color: #fff;
}

.btn-trans{
    color: var(--txt-color);
    border: none;
}

.btn-trans:hover{
    border: 2px solid var(--btn-color);
}

.hero_content{
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    text-align: center;
}

.hero_content h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--head-txt-color);
    line-height: 60px;
    margin-top: -3rem;
}

.hero_content p{
    font-size: 22px;
    font-weight: 500;
    color: var(--txt-color);
    line-height: 32px;
    margin-top: 2rem;
    max-width: 582px;
}

.hero_content .hero_buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 3.5rem;
}

.hero_buttons .btn{
    padding: 12px 25px;
}

.hero_buttons .btn-trans{
    color: var(--btn-color);
}

section#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 540px;
    background: url(Image.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section#content::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--sect2-bg-color);
    opacity: 0.8;
    z-index: -1;
}

.section_container{
    max-width: 815px;
    width: 100%;
    margin: 0 auto;
}

#content .content_over{
    text-align: center;
    color: #fff;
}

.content_over .lead{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 2px;
    /* margin-top: -3rem; */
}

.content__details{
    margin-block: 2rem;
}

.content__details h2{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

.content__details p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    max-width: 775px;
}
